<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        {% block dashboard %}
        {% endblock %}
    </section>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
      theme: {

        fontFamily:{
            'headings':['Rubik'],
            'titles':['Inter',],
            'text':['Arial'],
        },
       
      }
    }
  </script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400&display=swap');
</style>
</html>